<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navigation Bar -->
<div th:replace="~{fragments/navbar :: navbar}"></div>
<br/><br/>

<!-- Main Container -->
<div class="container mt-4">
    <div class="card shadow-sm text-white">
        <div class="card-header"
             style="background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(120,120,120,1) 100%);">
            <h5 th:text="${course.title}"></h5>
        </div>
        <div class="card-body"
             style="background: linear-gradient(90deg, rgba(120,120,120,1) 0%, rgba(30,30,30,1) 100%);">
            <p th:text="${course.description}" class="card-text"></p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <!--      Course Functions      -->
            <div class="card text-white shadow-sm mb-2" th:if="${isRegister}">
                <div class="card-header"
                     style="background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(120,120,120,1) 100%);">
                    <h5>Course Functions</h5>
                </div>
                <div class="card-body">
                    <h6 style="color: black;">You are registered to this course. Leave feedback.</h6>
                    <a class="btn btn-dark" th:href="@{/courses/leave-feedback/{courseId}(courseId=*{course.id})}">Leave
                        Feedback</a>
                </div>
            </div>

            <!-- Course Details Card -->
            <div class="card shadow-sm mb-4">
                <div class="card-header text-white" style="background: linear-gradient(to right, #1e1e1e, #787878);">
                    <h5>Course Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-2">
                            <h6 class="text-secondary">Lecturer</h6>
                            <p th:text="${course.instructor}"></p>
                        </div>
                        <div class="col-lg-8 col-md-12 mb-2">
                            <h6 class="text-secondary">Times</h6>
                            <p th:text="${course.startDate} + ' - ' + ${course.endDate}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mb-2">
                            <h6 class="text-secondary">Location</h6>
                            <p th:text="${course.location}"></p>
                        </div>
                        <div class="col-lg-8 col-md-12 mb-2">
                            <h6 class="text-secondary">Registered Students</h6>
                            <p th:text="${course.enrolledStudents.size()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <h6 class="text-secondary">Rating</h6>
                            <p class="card-text">
                                <!-- Check if the course has been rated -->
                                <span th:if="${course.averageRating == null || course.averageRating == 0}" class="text-muted">Not rated yet.</span>
                                <!-- Filled stars for the average rating -->
                                <span th:unless="${course.averageRating == null || course.averageRating == 0}" th:each="starIndex : ${#numbers.sequence(1, course.averageRating)}"
                                      class="text-warning">★</span>
                                <!-- Empty or differently styled stars for the remainder -->
                                <span th:unless="${course.averageRating == null || course.averageRating == 0}" th:each="starIndex : ${#numbers.sequence(course.averageRating + 1, 5)}"
                                      class="text-secondary">☆</span>
                                <span th:unless="${course.averageRating == null || course.averageRating == 0}" th:text="${course.averageRating} + ' stars'"></span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <!-- Registered Students Card -->
            <div class="card shadow-sm">
                <div class="card-header text-white" style="background: linear-gradient(to right, #1e1e1e, #787878);">
                    <h5>Registered Students</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student : ${course.enrolledStudents}">
                                <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
                                <td th:text="${student.email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Feedbacks Card -->
    <div class="row mb-4 mt-2">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header"
                     style="background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(120,120,120,1) 100%);">
                    <h4 class="text-white">Feedbacks</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Student Name</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="feedback : ${course.getFeedbacks()}">
                                <td th:text="${feedback.student.firstName + ' ' + feedback.student.lastName}"></td>
                                <td>
                                    <!-- Filled stars for the rating -->
                                    <span th:each="star : ${#numbers.sequence(1, feedback.rating)}"
                                          class="text-warning">&#9733;</span>
                                    <!-- Empty stars for the remainder, only if rating is less than 5 -->
                                    <span th:if="${feedback.rating < 5}" th:each="star : ${#numbers.sequence(feedback.rating + 1, 5)}"
                                          class="text-secondary">&#9733;</span>
                                </td>
                                <td th:text="${feedback.content}"></td>
                                <td th:text="${feedback.createdAt}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Navigation Bar -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Bootstrap JS bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
