<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Rate University Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>

<!-- Main Container -->
<div class="container">
    <h1 th:text="${course.title}"></h1>

    <div class="row">
        <div class="col-md-4">
            <!-- Course Details Card -->
            <div class="card">
                <div class="card-header">
                    <h5>Course Details</h5>
                </div>
                <div class="card-body">
                    <p><strong th:text="'Description: '" th:utext="'Description: ' + ${course.description}"></strong></p>

                    <p><strong th:text="'Lecturer: '" th:utext="'Lecturer: ' + ${course.instructor}"></strong></p>
                    <p><strong th:text="'Times: '"
                               th:utext="'Times: ' + ${course.startDate} + ' - ' + ${course.endDate}"></strong></p>
                    <p><strong th:text="'Location: '" th:utext="'Location: ' + ${course.location}"></strong></p>
                    <p><strong th:text="'Registered Students: '"
                               th:utext="'Registered Students: ' + ${course.enrolledStudents.size()}"></strong></p>
                    <p><strong th:text="'Rating: '" th:utext="'Rating: ' + ${course.averageRating}"></strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Registered Students Card -->

            <div class="card">
                <div class="card-header">
                    <h5>Registered Students</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${course.enrolledStudents}">
                            <td th:text="'Name: ' + ${student.firstName} + ' ' + ${student.lastName}"></td>
                            <td th:text="'Email: ' + ${student.email}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>

        <!-- Feedbacks Card -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Feedbacks</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Rating</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="feedback : ${course.feedbacks}">
                                <td th:text="${feedback.rating}"></td>
                                <td th:text="${feedback.content}"></td>
                                <td th:text="${#temporals.format(feedback.createdAt, 'yyyy-MM-dd')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
